.header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
.header .row {
  height: 100%;
}
.header .row > div:nth-of-type(-n+3) {
  text-align: center;
  border-right: 1px solid #ccc;
}
.header .row > div:nth-of-type(-n+3) > .header_wx {
  position: relative;
  display: block;
  height: 100%;
}
.header .row > div:nth-of-type(-n+3) > .header_wx > img {
  display: none;
  position: absolute;
  top: 50px;
  left: 0%;
}
.header .row > div:nth-of-type(-n+3) > .header_wx:hover > img {
  display: block;
}
.header .row > div:last-of-type {
  text-align: center;
}
.header .row > div:last-of-type .btn-danger {
  background-color: #e92322;
  color: #fff;
  padding: 3px 15px;
}
.header .row > div:last-of-type .btn-danger:hover {
  background-color: #e92322;
}
.header .row > div:last-of-type .btn-link {
  color: #000;
}
.header .row > div:last-of-type .btn-link:hover {
  text-decoration: none;
}
